<h1>Receitas</h1>

<ul>
	<% @recipes.each do |recipe| %>
	<li>
		<%= link_to recipe.name , recipe %>
		<p>
			<%= truncate(recipe.stuff, length:15, separator: ' ' ) %>
		</p>

	   <p>
	   	   <%= formata_caloria(recipe) %>
	   </p>
	 
	</li>
	
	<% end %>
</ul>
<br>

<%= link_to 'Nova Receita' , new_recipe_path %>